/* 
font-family: 'Brygada 1918', serif;
font-family: 'M PLUS 1', sans-serif;
font-family: 'Roboto', sans-serif;

logo font color: 016ab2;
font color: 017dc2;
*/

html {
    scroll-behavior: smooth;
}


h1 {
    color: #016ab2;
    font-size: 1.5rem;
    font-family: 'Brygada 1918', serif;
    
}

a {
    font-family: 'Roboto', sans-serif;
    
}

.btn-info {
    background-color: #017dc2 !important;
}

.jumbotron h1, p {
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .3rem;

}

.jumbotron {
    
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,
                    rgba(255,255,255,0.3) 100%),
                    url('../images/airplane_wing.jpeg');
    background-size: cover;
    height: 100%; 
    color: white; 
}
#jumbotron2 {
    
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,
                    rgba(255,255,255,0.3) 100%),
                    url('../images/sky.jpeg');
    background-size: cover;
    height: 100%; 
    color: white;   
}

#jumbotron2 p, li {
    line-height: 2.5rem;
    
}

h2 {
    color:#017dc2;
    letter-spacing: .2rem;
}

h5 {
    color: #465e52;
}

.card-img-top {
    object-fit: contain;
}

.formSection {
    background-color: #d3e8ff;
}  

.formSection h2 {
    text-align: center;
}

input {
    background-color: #d3e8ff !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 4px solid #307dc3 !important;   
}

label {
    font-family: 'Roboto', sans-serif;
    color:#017dc2;
    display: block;
    text-align: center;
    margin-top: 2rem;
}

textarea {
    display: block;
    margin: 0 auto;
    background-color: #d3e8ff !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 4px solid #307dc3 !important; 
    
}

#submitButton {
    background-color: #017dc2 !important;
    font-family: 'Roboto', sans-serif;
}

.footer p{
    color: #317fc4;
    text-align: center;
}



